QWidget
{
    text-transform: uppercase;
     font-family:"Helvetica";
     font-size:18pt;
     font-weight:bold;
     color:black;
}
QPushButton
{
   border:1px solid #9f9f9f;
   background-color:  rgb(211, 215, 207);
   border-radius:30%;
}
QPushButton:hover
{
   background-color:  rgb(255, 255, 255);
}
QPushButton:checked
{
   background-color: rgb(255, 255, 255);
   color:green;
}
#app_header_frame
{
    background: gray;
    border:2px solid gray;
}
#app_footer_frame
{
    border:none;
    background-color: black;
}

AppFooterButton{
     background-color: transparent;
     color: rgba(255, 255, 255, 255);
     border: 1px solid white;
     padding:10px;
}
AppFooterButton:hover{
    background-color: transparent;
    color: rgba(255, 255, 255, 128);
}

AppFooterButton:checked{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}


.LeftRightCenterButtonWidget
{
     border-color: rgb(238, 238, 236);
     background-color: rgb(211, 215, 207);
     border-radius:35px;
     color:black;
}
.LeftRightCenterButtonWidget QPushButton
{
     border:none;
     background-color: transparent;
     padding:10px;
     color:black;

}
.LeftRightCenterButtonWidget QPushButton:checked
{
     background-color: green;
}
.LeftRightCenterButtonWidget QPushButton[offLvl="1"]:checked
{
    background-color: red;
}
#left_btn_widget
{
    border-top-left-radius:25px;;
    border-bottom-left-radius:25px;
}
#right_btn_widget
{
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
}
#sidebar_frame
{
    border:1px solid gray;
    background: #9f9f9f;
}

ProfileComboBox
{
  background-color: rgb(211, 215, 207);
  border: none;
  color: rgb(40,40,40);
  border-radius:30%;
  padding: 2px 0px 1px 15px; /*This makes text colour work*/
}
ProfileComboBox QComboBox{
    border:none;
    background-color: rgb(211, 215, 207);
}
ProfileComboBox QComboBox::drop-down
{
     border: 0px;
     width: 2px;
    background-color: rgb(211, 215, 207);
}


ProfileComboBox QComboBox::on
{
   background-color: rgb(211, 215, 207);
   border: none;
   color: rgb(40,40,40);
   border-top-left-radius:30%;
   border-bottom-left-radius:0px;
   padding: 2px 0px 1px 15px; /*This makes text colour work*/
}

ProfileComboBox #action_combo_btn
{
    border:none;
    background-color:transparent;
    qproperty-icon: url(:/icons/icons/icons8-chevron-down-50.png);
}


QCheckBox::indicator {
     width: 40px;
     height: 40px;
}
TrackableCheckBox
{
    height:40px;
}
QTabBar::tab
{
     background-color:black;
     border-top-right-radius: 12px;
     border-top-left-radius: 12px;
     height:40px;
     width:300 px;
     border:1px solid white;
     color:white;
     margin-right: 5px;
     padding: 6px;
}
QTabBar::tab:selected {
  border:1px solid green;
  color:green;
}
QTabWidget::tab-bar
{
   alignment: center;
}

#dowel_option_frame, #joint_options_frame
{
    border:none;
}